<header class="brand-name">
  <mat-toolbar color="primary">
    <span style="font-style: oblique;">Bookstore</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/">Login</a>
    
    <button mat-button [matMenuTriggerFor]="menu">menu</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/home">Home</a>
      <a mat-menu-item routerLink="/order">Orders</a>
      <button mat-menu-item (click)="click()">Logout</button>
    </mat-menu>
  </mat-toolbar>
</header>