<header class="brand-name">
  <mat-toolbar color="primary">
    <span style="font-style: oblique;">Bookstore</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/" *ngIf="!isAuthenticated">Login</a>
    
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated">menu</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/home">Home</a>
      <a mat-menu-item routerLink="/order">Orders</a>
      <a mat-menu-item routerLink="/books">Books</a>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
</header>