<section class="content">
    <form action="" #f="ngForm" class="my-form" (ngSubmit)="onSubmit(f)">
        <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>username</mat-label>
            <input name="username" ngModel matInput>
        </mat-form-field>
        <mat-form-field style="width: 100%" appearance="outline">
            <mat-label matInput>password</mat-label>
            <input type="password" name="password" ngModel matInput>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</section>